<table class="table" border="1">
  <tr>
    <th>Name:</th>
    <th>Address</th>
    <th>Image</th>
  </tr>
  <tr *ngFor="let r of listResidences">
    <td>{{ r.name }}</td>
    <td>{{ r.address }}</td>
    <td><img [src]="r.image"></td>
    <td><button (click)="AfficherApartments(r.id)">Show Apartments</button></td>
  </tr>
</table>

<div *ngIf="ResidenceApartments.length > 0">
  <p>Apartments:</p>
  <ul>
    <li *ngFor="let apartment of ResidenceApartments">
      {{ apartment.description }}
    </li>
  </ul>
</div>

<div *ngIf="ResidenceApartments.length === 0">
  <p>No Apartments found</p>
</div>

<div><button [routerLink]="['apartments']" class="btn btn-info">All Apartments</button></div>
